p.paragraph
{
    line-height: 200%;
}

span.lineSection
{
    display: inline-block;
    margin-right: 10px;
    line-height: 100%;
}

span.lineSection * 
{ 
    margin-right: 3px; 
    width: 50px; 
    min-height: 30px; 
    box-sizing: border-box;
}

input[type="text"]
{
    font-size: x-large;
    text-align: center;
    border: 1px solid dimgray;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="text"]:focus { background-color: lightgray; }

.correct { background-color: rgb(64, 226, 113) !important; }
.incorrect { background-color: rgb(245, 100, 100) !important; }

#buttonsPanel
{
    text-align: center;
}